body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

  .centro{
    width: 400px;
    height: 300px;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    align-items: center;
    padding: 8px;
  }

  .centro input{
    margin: 5px;
  }
  .centro button{
    margin: 10px;
    margin-top: 35px;
    height: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: #0f0c29;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6b90cf, #2c62c5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #668fd8, #275ec5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    

  }